@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  letter-spacing: 0.5px;
  font-family: 'Rubik', sans-serif;
}

.cursive {
  font-family: 'Shadows Into Light', cursive;
}

.hero {
  background: linear-gradient(
   90deg, rgba(24, 24, 24, 0.8),rgba(24, 24, 24, 0.0) 100%
  ), 
  var(--hero-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  animation: fade-in 0.5s ease-out;
}

.progress-meter {
  animation: roundtime calc(var(--duration) * 250ms) linear forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes roundtime {
  from {
    width: 5%;
  }

  to {
    width: 100%;
  }
}
